<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.prime.primevideo">

    <application>

        <service
            android:name=".service.VideoPlayerOverviewService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>